.git/objects/pack/tmp_pack_b7N20f
datalinks/refs/bwaidx/bwaidx.bwt
week3/prob1/trimmomatic_out/ALD06_R1_paired.fq
week3/prob1/trimmomatic_out/ALD06_R1_unpaired.fq
week3/prob1/trimmomatic_out/ALD06_R2_paired.fq
week3/prob1/trimmomatic_out/ALD06_R2_unpaired.fq
week3/prob2/trimmomatic_out/P004_A4_ED_2_R1_paired.fq
week3/prob2/trimmomatic_out/P004_A4_ED_2_R2_paired.fq
week3/prob4/DNAbam/ADL06_3.sort.bam
week3/prob4/DNAbam/ADL10_3.sort.bam
week3/prob4/DNAbam/ADL09_3.sort.bam
week3/prob4/DNAbam/ADL06_1.sort.bam
week3/prob4/DNAbam/ADL09_1.sort.bam
week3/prob4/DNAbam/ADL06_2.sort.bam
week3/prob4/DNAbam/ADL14_2.sort.bam
week3/prob4/DNAbam/ADL10_2.sort.bam
week3/prob4/DNAbam/ADL14_3.sort.bam
week3/prob4/DNAbam/ADL10_1.sort.bam
week3/prob4/DNAbam/ADL14_1.sort.bam
week3/prob4/DNAbam/ADL09_2.sort.bam
week3/prob4/ATACbam/P004_A4_ED_2.sort.bam
week3/prob4/ATACbam/P005_A4_ED_3.sort.bam
week3/prob4/ATACbam/P014_A4_WD_2.sort.bam
week3/prob4/ATACbam/P013_A4_WD_1.sort.bam
week3/prob4/ATACbam/P006_A4_ED_4.sort.bam
week3/prob4/ATACbam/P028_A5_WD_1.sort.bam
week3/prob4/ATACbam/P029_A5_WD_2.sort.bam
week3/prob4/ATACbam/P020_A5_ED_2.sort.bam
week3/prob4/ATACbam/P043_A6_WD_1.sort.bam
week3/prob4/ATACbam/P030_A5_WD_3.sort.bam
week3/prob4/ATACbam/P035_A6_ED_2.sort.bam
week3/prob4/ATACbam/P058_A7_WD_1.sort.bam
week3/prob4/ATACbam/P034_A6_ED_1.sort.bam
week3/prob4/ATACbam/P044_A6_WD_2.sort.bam
week3/prob4/ATACbam/P059_A7_WD_2.sort.bam
week3/prob4/ATACbam/P036_A6_ED_3.sort.bam
week3/prob4/ATACbam/P060_A7_WD_3.sort.bam
week3/prob4/ATACbam/P045_A6_WD_3.sort.bam
week3/prob4/ATACbam/P049_A7_ED_1.sort.bam
week3/prob4/ATACbam/P015_A4_WD_4.sort.bam
week3/prob4/ATACbam/P050_A7_ED_2.sort.bam
week3/prob4/ATACbam/P051_A7_ED_3.sort.bam
week3/prob4/ATACbam/P019_A5_ED_1.sort.bam
week3/prob4/ATAC_trimmo/P005_A4_ED_3_R1_paired.fq
week3/prob4/ATAC_trimmo/P005_A4_ED_3_R2_paired.fq
week3/prob4/ATAC_trimmo/P004_A4_ED_2_R1_paired.fq
week3/prob4/ATAC_trimmo/P004_A4_ED_2_R2_paired.fq
week3/prob4/ATAC_trimmo/P006_A4_ED_4_R1_paired.fq
week3/prob4/ATAC_trimmo/P006_A4_ED_4_R2_paired.fq
week3/prob4/ATAC_trimmo/P013_A4_WD_1_R1_paired.fq
week3/prob4/ATAC_trimmo/P013_A4_WD_1_R2_paired.fq
week3/prob4/ATAC_trimmo/P014_A4_WD_2_R1_paired.fq
week3/prob4/ATAC_trimmo/P014_A4_WD_2_R2_paired.fq
week3/prob4/ATAC_trimmo/P029_A5_WD_2_R1_paired.fq
week3/prob4/ATAC_trimmo/P028_A5_WD_1_R1_paired.fq
week3/prob4/ATAC_trimmo/P035_A6_ED_2_R1_paired.fq
week3/prob4/ATAC_trimmo/P043_A6_WD_1_R1_paired.fq
week3/prob4/ATAC_trimmo/P029_A5_WD_2_R2_paired.fq
week3/prob4/ATAC_trimmo/P030_A5_WD_3_R1_paired.fq
week3/prob4/ATAC_trimmo/P020_A5_ED_2_R1_paired.fq
week3/prob4/ATAC_trimmo/P021_A5_ED_3_R1_paired.fq
week3/prob4/ATAC_trimmo/P034_A6_ED_1_R1_paired.fq
week3/prob4/ATAC_trimmo/P036_A6_ED_3_R1_paired.fq
week3/prob4/ATAC_trimmo/P028_A5_WD_1_R2_paired.fq
week3/prob4/ATAC_trimmo/P036_A6_ED_3_R1_unpaired.fq
week3/prob4/ATAC_trimmo/P020_A5_ED_2_R2_paired.fq
week3/prob4/ATAC_trimmo/P021_A5_ED_3_R2_paired.fq
week3/prob4/ATAC_trimmo/P043_A6_WD_1_R2_paired.fq
week3/prob4/ATAC_trimmo/P030_A5_WD_3_R2_paired.fq
week3/prob4/ATAC_trimmo/P036_A6_ED_3_R2_paired.fq
week3/prob4/ATAC_trimmo/P035_A6_ED_2_R2_paired.fq
week3/prob4/ATAC_trimmo/P034_A6_ED_1_R2_paired.fq
week3/prob4/ATAC_trimmo/P019_A5_ED_1_R1_paired.fq
week3/prob4/ATAC_trimmo/P019_A5_ED_1_R1_unpaired.fq
week3/prob4/ATAC_trimmo/P015_A4_WD_4_R1_paired.fq
week3/prob4/ATAC_trimmo/P019_A5_ED_1_R2_paired.fq
week3/prob4/ATAC_trimmo/P015_A4_WD_4_R2_paired.fq
week3/prob4/ATAC_trimmo/P060_A7_WD_3_R1_paired.fq
week3/prob4/ATAC_trimmo/P059_A7_WD_2_R1_paired.fq
week3/prob4/ATAC_trimmo/P051_A7_ED_3_R1_paired.fq
week3/prob4/ATAC_trimmo/P058_A7_WD_1_R1_paired.fq
week3/prob4/ATAC_trimmo/P059_A7_WD_2_R2_paired.fq
week3/prob4/ATAC_trimmo/P050_A7_ED_2_R1_paired.fq
week3/prob4/ATAC_trimmo/P060_A7_WD_3_R2_paired.fq
week3/prob4/ATAC_trimmo/P045_A6_WD_3_R1_paired.fq
week3/prob4/ATAC_trimmo/P051_A7_ED_3_R2_paired.fq
week3/prob4/ATAC_trimmo/P049_A7_ED_1_R1_paired.fq
week3/prob4/ATAC_trimmo/P058_A7_WD_1_R2_paired.fq
week3/prob4/ATAC_trimmo/P050_A7_ED_2_R2_paired.fq
week3/prob4/ATAC_trimmo/P045_A6_WD_3_R2_paired.fq
week3/prob4/ATAC_trimmo/P049_A7_ED_1_R2_paired.fq
week3/prob4/ATAC_trimmo/P044_A6_WD_2_R1_paired.fq
week3/prob4/ATAC_trimmo/P044_A6_WD_2_R2_paired.fq
week3/prob5/RNAbam/21029B0.sort.bam
week3/prob5/RNAbam/21029E0.sort.bam
week3/prob5/RNAbam/21148B0.sort.bam
week3/prob5/RNAbam/21297E0.sort.bam
week3/prob5/RNAbam/22031B0.sort.bam
week3/prob5/RNAbam/21148E0.sort.bam
week3/prob5/RNAbam/21286B0.sort.bam
week3/prob5/RNAbam/21286E0.sort.bam
week3/prob5/RNAbam/21297B0.sort.bam
week3/prob5/RNAbam/22052B0.sort.bam
week3/prob5/RNAbam/21293E0.sort.bam
week3/prob5/RNAbam/22031E0.sort.bam
week3/prob5/RNAbam/22052E0.sort.bam
week3/prob5/RNAbam/22390B0.sort.bam
week3/prob5/RNAbam/22378B0.sort.bam
week3/prob5/RNAbam/22162E0.sort.bam
week3/prob5/RNAbam/22378E0.sort.bam
week3/prob5/RNAbam/22390E0.sort.bam
week3/prob5/RNAbam/21293B0.sort.bam
week3/prob5/RNAbam/22162B0.sort.bam
week5/bamout/ADL09.dedup.bam
week5/bamout/ADL10.dedup.bam
week5/bamout/ADL06.dedup.bam
week5/bamout/ADL14.dedup.bam
week5/vcf/ADL09.g.vcf.gz
week5/vcf/ADL10.g.vcf.gz
week5/vcf/ADL14.g.vcf.gz
week5/vcf/ADL06.g.vcf.gz
week5/vcf/allsample.g.vcf.gz
week5/vcf/all_variants.vcf.gz
